<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

-   Identify duplicate values in the dataset.

-   Remove duplicate values from the dataset.

-   Identify missing values in the dataset.

-   Impute the missing values in the dataset.

-   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [1]:
import pandas as pd

Load the dataset into a dataframe.

In [2]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

In [3]:
df.head()

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
0,4,I am a developer by profession,No,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,22.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1,9,I am a developer by profession,Yes,Once a month or more often,The quality of OSS and closed source software ...,Employed full-time,New Zealand,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,23.0,Man,No,Bisexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
2,13,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Cour...,28.0,Man,No,Straight / Heterosexual,White or of European descent,Yes,Appropriate in length,Easy
3,16,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)",NaN,...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,26.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Neither easy nor difficult
4,17,I am a developer by profession,Yes,Less than once a month but more than once per ...,The quality of OSS and closed source software ...,Employed full-time,Australia,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,29.0,Man,No,Straight / Heterosexual,Hispanic or Latino/Latina;Multiracial,No,Appropriate in length,Easy

## Finding duplicates

In this section you will identify duplicate values in the dataset.

 Find how many duplicate rows exist in the dataframe.

In [4]:
# Count the number of duplicate rows in the DataFrame
duplicate_count = df.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

# Display the first few duplicate rows to understand their structure
duplicate_rows = df[df.duplicated()]
print("First few duplicate rows:")
duplicate_rows.head()

Number of duplicate rows: 154
First few duplicate rows:

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1168,2339,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1169,2342,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
1170,2343,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Canada,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,Black or of African descent;White or of Europe...,No,Appropriate in length,Neither easy nor difficult
1171,2344,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1172,2347,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Woman,No,Straight / Heterosexual,Biracial,No,Too long,Easy

In [5]:
# Count the number of duplicate rows in the column Respondent
duplicate_count = df.Respondent.duplicated().sum()
print(f"Number of duplicate rows: {duplicate_count}")

# Display the first few duplicate rows to understand their structure
duplicate_rows = df[df.Respondent.duplicated()]
print("First few duplicate rows:")
duplicate_rows.head()

Number of duplicate rows: 154
First few duplicate rows:

,Respondent,MainBranch,Hobbyist,OpenSourcer,OpenSource,Employment,Country,Student,EdLevel,UndergradMajor,...,WelcomeChange,SONewContent,Age,Gender,Trans,Sexuality,Ethnicity,Dependents,SurveyLength,SurveyEase
1168,2339,I am a developer by profession,Yes,Once a month or more often,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United States,No,Some college/university study without earning ...,"Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1169,2342,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United Kingdom,No,Some college/university study without earning ...,"Information systems, information technology, o...",...,Somewhat more welcome now than last year,Tech meetups or events in your area;Courses on...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Too long,Easy
1170,2343,I am a developer by profession,Yes,Less than once a month but more than once per ...,"OSS is, on average, of LOWER quality than prop...",Employed full-time,Canada,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Somewhat more welcome now than last year,Tech articles written by other developers;Indu...,27.0,Man,No,Straight / Heterosexual,Black or of African descent;White or of Europe...,No,Appropriate in length,Neither easy nor difficult
1171,2344,I am a developer by profession,Yes,Never,The quality of OSS and closed source software ...,Employed full-time,United States,No,"Bachelor’s degree (BA, BS, B.Eng., etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,Tech articles written by other developers;Indu...,24.0,Man,No,Straight / Heterosexual,White or of European descent,No,Appropriate in length,Easy
1172,2347,I am a developer by profession,Yes,Never,"OSS is, on average, of HIGHER quality than pro...",Employed full-time,United Kingdom,No,"Master’s degree (MA, MS, M.Eng., MBA, etc.)","Computer science, computer engineering, or sof...",...,Just as welcome now as I felt last year,NaN,NaN,Woman,No,Straight / Heterosexual,Biracial,No,Too long,Easy

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [6]:
# Remove duplicate rows
df_unique = df.drop_duplicates()

# Display the shape of the dataset after removal
print(f"Shape of the dataset after removing duplicates: {df_unique.shape}")

Shape of the dataset after removing duplicates: (11398, 85)

Verify if duplicates were actually dropped.

In [7]:
# Count duplicates in the new dataset
remaining_duplicates = df_unique.duplicated().sum()

# Verify and print the result
print(f"Number of duplicate rows after removal: {remaining_duplicates}")

Number of duplicate rows after removal: 0

In [8]:
df_unique.Respondent.unique().shape

(11398,)

## Finding Missing values

Find the missing values for all columns.

In [9]:
df_1 = df_unique.iloc[:, list(range(0, 20))]
# Count missing values in each column
missing_values = df_1.isnull().sum()

# Calculate percentage of missing values
missing_percentage = (missing_values / len(df_1)) * 100

# Create a summary table
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': missing_percentage
}).sort_values(by='Missing Values', ascending=False)

# Display the summary
missing_summary

                Missing Values  Percentage
UndergradMajor             737    6.466047
MgrMoney                   497    4.360414
MgrIdiot                   493    4.325320
EduOther                   164    1.438849
EdLevel                    112    0.982629
OrgSize                     96    0.842253
OpenSource                  81    0.710651
DevType                     65    0.570275
Student                     51    0.447447
YearsCodePro                16    0.140376
Age1stCode                  13    0.114055
YearsCode                    9    0.078961
JobSat                       1    0.008773
Hobbyist                     0    0.000000
MainBranch                   0    0.000000
Respondent                   0    0.000000
OpenSourcer                  0    0.000000
Country                      0    0.000000
Employment                   0    0.000000
CareerSat                    0    0.000000

In [10]:
df_2 = df_unique.iloc[:, list(range(21, 40))]
# Count missing values in each column
missing_values = df_2.isnull().sum()

# Calculate percentage of missing values
missing_percentage = (missing_values / len(df_2)) * 100

# Create a summary table
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': missing_percentage
}).sort_values(by='Missing Values', ascending=False)

# Display the summary
missing_summary

                Missing Values  Percentage
CodeRevHrs                2426   21.284436
ConvertedComp              816    7.159151
CompTotal                  809    7.097736
LastInt                    413    3.623443
CompFreq                   206    1.807335
WorkChallenge              164    1.438849
WorkWeekHrs                122    1.070363
WorkPlan                   121    1.061590
ResumeUpdate                39    0.342165
FizzBuzz                    37    0.324618
WorkLoc                     32    0.280751
WorkRemote                   8    0.070188
ImpSyn                       5    0.043867
JobFactors                   3    0.026320
CodeRev                      1    0.008773
LastHireDate                 0    0.000000
JobSeek                      0    0.000000
CurrencyDesc                 0    0.000000
CurrencySymbol               0    0.000000

In [11]:
df_3 = df_unique.iloc[:, list(range(41, 60))]
# Count missing values in each column
missing_values = df_3.isnull().sum()

# Calculate percentage of missing values
missing_percentage = (missing_values / len(df_3)) * 100

# Create a summary table
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': missing_percentage
}).sort_values(by='Missing Values', ascending=False)

# Display the summary
missing_summary

                        Missing Values  Percentage
BlockchainIs                      2610   22.898754
BlockchainOrg                     2322   20.371995
MiscTechWorkedWith                2182   19.143709
WebFrameDesireNextYear            1617   14.186699
MiscTechDesireNextYear            1455   12.765397
WebFrameWorkedWith                1393   12.221442
DatabaseDesireNextYear            1042    9.141955
PlatformDesireNextYear             544    4.772767
DatabaseWorkedWith                 453    3.974381
PlatformWorkedWith                 411    3.605896
PurchaseHow                        196    1.719600
LanguageDesireNextYear             134    1.175645
BetterLife                          98    0.859800
Containers                          82    0.719424
PurchaseWhat                        38    0.333392
ITperson                            35    0.307071
OpSys                               34    0.298298
DevEnviron                          29    0.254431
LanguageWorkedWith                  11    0.096508

In [12]:
df_4 = df_unique.iloc[:, list(range(61, 80))]
# Count missing values in each column
missing_values = df_4.isnull().sum()

# Calculate percentage of missing values
missing_percentage = (missing_values / len(df_4)) * 100

# Create a summary table
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': missing_percentage
}).sort_values(by='Missing Values', ascending=False)

# Display the summary
missing_summary

               Missing Values  Percentage
SONewContent             1965   17.239867
SOHowMuchTime            1917   16.818740
SOPartFreq               1128    9.896473
ScreenName                507    4.448149
SOVisit1st                325    2.851377
SocialMedia               293    2.570626
Age                       287    2.517986
Trans                     123    1.079137
WelcomeChange              85    0.745745
Gender                     73    0.640463
SOTimeSaved                50    0.438673
Extraversion               20    0.175469
SOJobs                      6    0.052641
EntTeams                    5    0.043867
SOVisitFreq                 5    0.043867
SOFindAnswer                3    0.026320
SOVisitTo                   1    0.008773
SOAccount                   1    0.008773
SOComm                      0    0.000000

In [13]:
df_5 = df_unique.iloc[:, list(range(81, 84))]
# Count missing values in each column
missing_values = df_5.isnull().sum()

# Calculate percentage of missing values
missing_percentage = (missing_values / len(df_5)) * 100

# Create a summary table
missing_summary = pd.DataFrame({
    'Missing Values': missing_values,
    'Percentage': missing_percentage
}).sort_values(by='Missing Values', ascending=False)

# Display the summary
missing_summary

              Missing Values  Percentage
Ethnicity                675    5.922092
Dependents               140    1.228286
SurveyLength              19    0.166696

Find out how many rows are missing in the column 'WorkLoc'

In [14]:
WorkLoc_missing_values = df_unique.WorkLoc.isnull().sum()
print(f"Missing values in the column WorkLoc: {WorkLoc_missing_values}")

Missing values in the column WorkLoc: 32

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [15]:
df_unique.WorkLoc.value_counts()

WorkLoc
Office                                            6806
Home                                              3589
Other place, such as a coworking space or cafe     971
Name: count, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [16]:
# make a note of the majority value here, for future reference
# Office

# Find the most frequent value in the 'RemoteWork' column
most_frequent_value = df_unique['WorkLoc'].mode()[0]

# Display the result
print(f"The most frequent value in the 'WorkLoc' column is: {most_frequent_value}")

The most frequent value in the 'WorkLoc' column is: Office

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [17]:
# Replace missing values in 'RemoteWork' with the most frequent value
df_unique['WorkLoc'].fillna(most_frequent_value, inplace=True)

C:\Users\anastasiia.trofymova\AppData\Local\Temp\ipykernel_31836\563948099.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_unique['WorkLoc'].fillna(most_frequent_value, inplace=True)
C:\Users\anastasiia.trofymova\AppData\Local\Temp\ipykernel_31836\563948099.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique['WorkLoc'].fillna(most_frequent_value, inplace=True)

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [18]:
WorkLoc_missing_values = df_unique.WorkLoc.isnull().sum()
print(f"Missing values in the column WorkLoc: {WorkLoc_missing_values}")

Missing values in the column WorkLoc: 0

In [19]:
df_unique.Employment.value_counts()

Employment
Employed full-time    10968
Employed part-time      430
Name: count, dtype: int64

In [20]:
df_unique.UndergradMajor.value_counts()

UndergradMajor
Computer science, computer engineering, or software engineering          6953
Information systems, information technology, or system administration     794
Another engineering discipline (ex. civil, electrical, mechanical)        759
Web development or web design                                             410
A natural science (ex. biology, chemistry, physics)                       403
Mathematics or statistics                                                 372
A business discipline (ex. accounting, finance, marketing)                244
A social science (ex. anthropology, psychology, political science)        210
A humanities discipline (ex. literature, history, philosophy)             207
Fine arts or performing arts (ex. graphic design, music, studio art)      161
I never declared a major                                                  124
A health science (ex. nursing, pharmacy, radiology)                        24
Name: count, dtype: int64

In [21]:
df_unique.ConvertedComp.value_counts()

ConvertedComp
2000000.0    138
1000000.0    105
100000.0      99
150000.0      92
120000.0      86
            ...
52800.0        1
13848.0        1
41591.0        1
33648.0        1
41217.0        1
Name: count, Length: 3515, dtype: int64

In [22]:
ConvertedComp_missing_values = df_unique.ConvertedComp.isnull().sum()
print(f"Missing values in the column WorkLoc: {ConvertedComp_missing_values}")

Missing values in the column WorkLoc: 816

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq". 

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

In [23]:
df_unique.CompTotal.value_counts()

CompTotal
70000.0     241
60000.0     239
50000.0     223
100000.0    218
80000.0     194
           ...
111600.0      1
456000.0      1
22730.0       1
552000.0      1
4605.0        1
Name: count, Length: 1509, dtype: int64

In [24]:
CompTotal_missing_values = df_unique.CompTotal.isnull().sum()
print(f"Missing values in the column CompTotal: {CompTotal_missing_values}")

Missing values in the column CompTotal: 809

<hr>

List out the various categories in the column 'CompFreq'

In [25]:
df_unique.CompFreq.value_counts()

CompFreq
Yearly     6073
Monthly    4788
Weekly      331
Name: count, dtype: int64

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [26]:
# Define a function to normalize compensation to annual
def normalize_annual_compensation(row):
    if row['CompFreq'] == 'Yearly':
        return row['CompTotal']
    elif row['CompFreq'] == 'Monthly':
        return row['CompTotal'] * 12
    elif row['CompFreq'] == 'Weekly':
        return row['CompTotal'] * 52
    else:
        return None  # Handle unknown frequency if necessary

# Apply the function to create the new column
df_unique['NormalizedAnnualCompensation'] = df_unique.apply(normalize_annual_compensation, axis=1)

# Display the updated DataFrame
df_unique['NormalizedAnnualCompensation'].value_counts()

C:\Users\anastasiia.trofymova\AppData\Local\Temp\ipykernel_31836\2720967070.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_unique['NormalizedAnnualCompensation'] = df_unique.apply(normalize_annual_compensation, axis=1)

NormalizedAnnualCompensation
60000.0     241
120000.0    170
70000.0     169
90000.0     156
100000.0    152
           ...
11.0          1
25444.0       1
55260.0       1
460000.0      1
374000.0      1
Name: count, Length: 1731, dtype: int64

In [27]:
# Find the most frequent value in the 'NormalizedAnnualCompensation' column
most_frequent_value = df_unique['NormalizedAnnualCompensation'].mode()[0]

# Display the result
print(f"The most frequent value in the 'NormalizedAnnualCompensation' column is: {most_frequent_value}")

The most frequent value in the 'NormalizedAnnualCompensation' column is: 60000.0

In [28]:
df_unique.to_csv('_m2_survey_data.csv')

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

 Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork928-2022-01-01&cm_mmc=Email_Newsletter-_-Developer_Ed%2BTech-_-WW_WW-_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).