<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45** minutes

In this lab, you will perform data wrangling tasks to prepare raw data for analysis. Data wrangling involves cleaning, transforming, and organizing data into a structured format suitable for analysis. This lab focuses on tasks like identifying inconsistencies, encoding categorical variables, and feature transformation.

## Objectives

After completing this lab, you will be able to:

- Identify and remove inconsistent data entries.

- Encode categorical variables for analysis.

- Handle missing values using multiple imputation strategies.

- Apply feature scaling and transformation techniques.

#### Intsall the required libraries

In [1]:
!pip install pandas
!pip install matplotlib

Requirement already satisfied: pandas in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.23.2 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.1.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Requirement already satisfied: matplotlib in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.9.3)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (4.55.1)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (1.4.7)
Requirement already satisfied: numpy>=1.23 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (2.1.3)
Requirement already satisfied: packaging>=20.0 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (11.0.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from matplotlib) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\anastasiia.trofymova\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from python-dateutil>=2.7->matplotlib) (1.16.0)

## Tasks

#### Step 1: Import the necessary module.

### 1. Load the Dataset

<h5>1.1 Import necessary libraries and load the dataset.</h5>

Ensure the dataset is loaded correctly by displaying the first few rows.

In [17]:
# Import necessary libraries
import pandas as pd
import numpy as np

In [ ]:
# Load the Stack Overflow survey data
dataset_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/n01PQ9pSmiRX6520flujwQ/survey-data.csv"
df = pd.read_csv(dataset_url)

# Display the first few rows
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

#### 2. Explore the Dataset

<h5>2.1 Summarize the dataset by displaying the column data types, counts, and missing values.</h5>

In [3]:
# Display column data types
print("Column Data Types:")
print(df.dtypes)

# Count non-missing values for each column
print("\nNon-Missing Value Counts:")
print(df.count())

# Count missing values for each column
print("\nMissing Value Counts:")
print(df.isnull().sum())

# General summary of the dataset
print("\nDataset Info:")
print(df.info())

Column Data Types:
ResponseId               int64
MainBranch              object
Age                     object
Employment              object
RemoteWork              object
                        ...
JobSatPoints_11        float64
SurveyLength            object
SurveyEase              object
ConvertedCompYearly    float64
JobSat                 float64
Length: 114, dtype: object

Non-Missing Value Counts:
ResponseId             65437
MainBranch             65437
Age                    65437
Employment             65437
RemoteWork             54806
                       ...
JobSatPoints_11        29445
SurveyLength           56182
SurveyEase             56238
ConvertedCompYearly    23435
JobSat                 29126
Length: 114, dtype: int64

Missing Value Counts:
ResponseId                 0
MainBranch                 0
Age                        0
Employment                 0
RemoteWork             10631
                       ...
JobSatPoints_11        35992
SurveyLength            9255
SurveyEase              9199
ConvertedCompYearly    42002
JobSat                 36311
Length: 114, dtype: int64

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65437 entries, 0 to 65436
Columns: 114 entries, ResponseId to JobSat
dtypes: float64(13), int64(1), object(100)
memory usage: 56.9+ MB
None

<h5>2.2 Generate basic statistics for numerical columns.</h5>

In [4]:
# Generate basic statistics for numerical columns
print("Basic Statistics for Numerical Columns:")
df.describe()

Basic Statistics for Numerical Columns:

,ResponseId,CompTotal,WorkExp,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,ConvertedCompYearly,JobSat
count,65437.000000,3.374000e+04,29658.000000,29324.000000,29393.000000,29411.000000,29450.000000,29448.00000,29456.000000,29456.000000,29450.000000,29445.000000,2.343500e+04,29126.000000
mean,32719.000000,2.963841e+145,11.466957,18.581094,7.522140,10.060857,24.343232,22.96522,20.278165,16.169432,10.955713,9.953948,8.615529e+04,6.935041
std,18890.179119,5.444117e+147,9.168709,25.966221,18.422661,21.833836,27.089360,27.01774,26.108110,24.845032,22.906263,21.775652,1.867570e+05,2.088259
min,1.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000
25%,16360.000000,6.000000e+04,4.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,3.271200e+04,6.000000
50%,32719.000000,1.100000e+05,9.000000,10.000000,0.000000,0.000000,20.000000,15.00000,10.000000,5.000000,0.000000,0.000000,6.500000e+04,7.000000
75%,49078.000000,2.500000e+05,16.000000,22.000000,5.000000,10.000000,30.000000,30.00000,25.000000,20.000000,10.000000,10.000000,1.079715e+05,8.000000
max,65437.000000,1.000000e+150,50.000000,100.000000,100.000000,100.000000,100.000000,100.00000,100.000000,100.000000,100.000000,100.000000,1.625660e+07,10.000000

### 3. Identifying and Removing Inconsistencies

<h5>3.1 Identify inconsistent or irrelevant entries in specific columns (e.g., Country).</h5>

In [5]:
# Check unique values in the 'Country' column
print("Unique values in 'Country':")
print(df['Country'].unique())

Unique values in 'Country':
['United States of America'
 'United Kingdom of Great Britain and Northern Ireland' 'Canada' 'Norway'
 'Uzbekistan' 'Serbia' 'Poland' 'Philippines' 'Bulgaria' 'Switzerland'
 'India' 'Germany' 'Ireland' 'Italy' 'Ukraine' 'Australia' 'Brazil'
 'Japan' 'Austria' 'Iran, Islamic Republic of...' 'France' 'Saudi Arabia'
 'Romania' 'Turkey' 'Nepal' 'Algeria' 'Sweden' 'Netherlands' 'Croatia'
 'Pakistan' 'Czech Republic' 'Republic of North Macedonia' 'Finland'
 'Slovakia' 'Russian Federation' 'Greece' 'Israel' 'Belgium' 'Mexico'
 'United Republic of Tanzania' 'Hungary' 'Argentina' 'Portugal'
 'Sri Lanka' 'Latvia' 'China' 'Singapore' 'Lebanon' 'Spain' 'South Africa'
 'Lithuania' 'Viet Nam' 'Dominican Republic' 'Indonesia' 'Kosovo'
 'Morocco' 'Taiwan' 'Georgia' 'San Marino' 'Tunisia' 'Bangladesh'
 'Nigeria' 'Liechtenstein' 'Denmark' 'Ecuador' 'Malaysia' 'Albania'
 'Azerbaijan' 'Chile' 'Ghana' 'Peru' 'Bolivia' 'Egypt' 'Luxembourg'
 'Montenegro' 'Cyprus' 'Paraguay' 'Kazakhstan' 'Slovenia' 'Jordan'
 'Venezuela, Bolivarian Republic of...' 'Costa Rica' 'Jamaica' 'Thailand'
 'Nicaragua' 'Myanmar' 'Republic of Korea' 'Rwanda'
 'Bosnia and Herzegovina' 'Benin' 'El Salvador' 'Zimbabwe' 'Afghanistan'
 'Estonia' 'Malta' 'Uruguay' 'Belarus' 'Colombia' 'Republic of Moldova'
 'Isle of Man' 'Nomadic' 'New Zealand' 'Palestine' 'Armenia'
 'United Arab Emirates' 'Maldives' 'Ethiopia' 'Fiji' 'Guatemala' 'Uganda'
 'Turkmenistan' 'Mauritius' 'Kenya' 'Cuba' 'Gabon' 'Bahamas' 'South Korea'
 'Iceland' 'Honduras' 'Hong Kong (S.A.R.)'
 "Lao People's Democratic Republic" 'Mongolia' 'Cambodia' 'Madagascar'
 'Angola' 'Democratic Republic of the Congo' 'Syrian Arab Republic' 'Iraq'
 'Namibia' 'Senegal' 'Kyrgyzstan' 'Zambia' 'Swaziland' "Côte d'Ivoire"
 'Kuwait' 'Tajikistan' 'Burundi' 'Trinidad and Tobago' 'Mauritania'
 'Sierra Leone' 'Panama' 'Somalia' 'North Korea' 'Dominica' 'Guyana'
 'Togo' 'Oman' 'Barbados' 'Andorra'
 "Democratic People's Republic of Korea" 'Qatar' 'Sudan' 'Cameroon'
 'Papua New Guinea' 'Bahrain' 'Yemen' 'Malawi' 'Burkina Faso'
 'Congo, Republic of the...' 'Botswana' 'Guinea-Bissau' 'Mozambique'
 'Central African Republic' 'Equatorial Guinea' 'Suriname' 'Belize'
 'Libyan Arab Jamahiriya' 'Cape Verde' 'Brunei Darussalam' 'Bhutan'
 'Guinea' 'Niger' 'Antigua and Barbuda' 'Mali' 'Samoa' 'Lesotho'
 'Saint Kitts and Nevis' 'Monaco' 'Micronesia, Federated States of...'
 'Haiti' nan 'Nauru' 'Liberia' 'Chad' 'Djibouti' 'Solomon Islands']

In [6]:
# Find rows with potential issues
print("Rows with potential inconsistencies in 'Country':")
print(df.loc[~df['Country'].str.match(r'^[A-Za-z ,]+$', na=False), 'Country'])

Rows with potential inconsistencies in 'Country':
37       Iran, Islamic Republic of...
65       Iran, Islamic Republic of...
94       Iran, Islamic Republic of...
472      Iran, Islamic Republic of...
480      Iran, Islamic Republic of...
                     ...
65430                             NaN
65432                             NaN
65433                             NaN
65434                             NaN
65436                             NaN
Name: Country, Length: 7164, dtype: object

In [7]:
# Missing values in 'Country'
missing_countries = df['Country'].isnull()
print("Rows with missing 'Country' values:")
print(df[missing_countries])

Rows with missing 'Country' values:
       ResponseId                                         MainBranch  \
43448       43449  I am not primarily a developer, but I write co...
43454       43455                     I am a developer by profession
43459       43460  I am not primarily a developer, but I write co...
43460       43461                     I am a developer by profession
43461       43462                     I am a developer by profession
...           ...                                                ...
65430       65431                              I am learning to code
65432       65433                     I am a developer by profession
65433       65434                     I am a developer by profession
65434       65435                     I am a developer by profession
65436       65437                        I code primarily as a hobby

                   Age                                         Employment  \
43448  35-44 years old  Independent contractor, freelancer, or self-em...
43454  25-34 years old                                Employed, full-time
43459  25-34 years old             Not employed, and not looking for work
43460  35-44 years old                                Employed, full-time
43461  25-34 years old                                Employed, full-time
...                ...                                                ...
65430  18-24 years old  Not employed, but looking for work;Employed, p...
65432  18-24 years old                                Employed, full-time
65433  25-34 years old                                Employed, full-time
65434  25-34 years old                                Employed, full-time
65436  18-24 years old                                 Student, full-time

                                 RemoteWork   Check  \
43448                                Remote  Apples
43454  Hybrid (some remote, some in-person)  Apples
43459                                   NaN  Apples
43460                                Remote  Apples
43461  Hybrid (some remote, some in-person)  Apples
...                                     ...     ...
65430                             In-person  Apples
65432                                Remote  Apples
65433                                Remote  Apples
65434                             In-person  Apples
65436                                   NaN  Apples

                                        CodingActivities  \
43448  Contribute to open-source projects;Bootstrappi...
43454  Professional development or self-paced learnin...
43459                                                NaN
43460                       I don’t code outside of work
43461           Hobby;Contribute to open-source projects
...                                                  ...
65430  Hobby;Professional development or self-paced l...
65432                      Hobby;School or academic work
65433           Hobby;Contribute to open-source projects
65434                                              Hobby
65436                                                NaN

                                               EdLevel  \
43448                                              NaN
43454                                              NaN
43459                                              NaN
43460  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
43461  Master’s degree (M.A., M.S., M.Eng., MBA, etc.)
...                                                ...
65430                                              NaN
65432     Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65433                                              NaN
65434     Bachelor’s degree (B.A., B.S., B.Eng., etc.)
65436                                              NaN

                                               LearnCode  \
43448                                                NaN
43454                                                NaN
43459                                                NaN
43460  On the job training;Other online resources (e....
43461  On the job training;Other online resources (e....
...                                                  ...
65430                                                NaN
65432  On the job training;School (i.e., University, ...
65433                                                NaN
65434  Other online resources (e.g., videos, blogs, f...
65436                                                NaN

                                         LearnCodeOnline  ... JobSatPoints_6  \
43448                                                NaN  ...            NaN
43454                                                NaN  ...            NaN
43459                                                NaN  ...            NaN
43460  Blogs;How-to videos;Interactive tutorial;Video...  ...            NaN
43461  Technical documentation;Blogs;Written Tutorial...  ...            NaN
...                                                  ...  ...            ...
65430                                                NaN  ...            NaN
65432                                                NaN  ...            NaN
65433                                                NaN  ...            NaN
65434  Technical documentation;Stack Overflow;Social ...  ...            NaN
65436                                                NaN  ...            NaN

      JobSatPoints_7 JobSatPoints_8 JobSatPoints_9 JobSatPoints_10  \
43448            NaN            NaN            NaN             NaN
43454            NaN            NaN            NaN             NaN
43459            NaN            NaN            NaN             NaN
43460            NaN            NaN            NaN             NaN
43461            NaN            NaN            NaN             NaN
...              ...            ...            ...             ...
65430            NaN            NaN            NaN             NaN
65432            NaN            NaN            NaN             NaN
65433            NaN            NaN            NaN             NaN
65434            NaN            NaN            NaN             NaN
65436            NaN            NaN            NaN             NaN

      JobSatPoints_11 SurveyLength SurveyEase ConvertedCompYearly JobSat
43448             NaN          NaN        NaN                 NaN    NaN
43454             NaN          NaN        NaN                 NaN    NaN
43459             NaN          NaN        NaN                 NaN    NaN
43460             NaN          NaN        NaN                 NaN    NaN
43461             NaN          NaN        NaN                 NaN    NaN
...               ...          ...        ...                 ...    ...
65430             NaN          NaN        NaN                 NaN    NaN
65432             NaN          NaN        NaN                 NaN    NaN
65433             NaN          NaN        NaN                 NaN    NaN
65434             NaN          NaN        NaN                 NaN    NaN
65436             NaN          NaN        NaN                 NaN    NaN

[6507 rows x 114 columns]

In [8]:
# Irrelevant entries (e.g., numerical values or placeholders like 'Unknown')
irrelevant_countries = df['Country'].isin(['Unknown', 'N/A', 'None'])
print("Rows with irrelevant 'Country' values:")
print(df[irrelevant_countries])

Rows with irrelevant 'Country' values:
Empty DataFrame
Columns: [ResponseId, MainBranch, Age, Employment, RemoteWork, Check, CodingActivities, EdLevel, LearnCode, LearnCodeOnline, TechDoc, YearsCode, YearsCodePro, DevType, OrgSize, PurchaseInfluence, BuyNewTool, BuildvsBuy, TechEndorse, Country, Currency, CompTotal, LanguageHaveWorkedWith, LanguageWantToWorkWith, LanguageAdmired, DatabaseHaveWorkedWith, DatabaseWantToWorkWith, DatabaseAdmired, PlatformHaveWorkedWith, PlatformWantToWorkWith, PlatformAdmired, WebframeHaveWorkedWith, WebframeWantToWorkWith, WebframeAdmired, EmbeddedHaveWorkedWith, EmbeddedWantToWorkWith, EmbeddedAdmired, MiscTechHaveWorkedWith, MiscTechWantToWorkWith, MiscTechAdmired, ToolsTechHaveWorkedWith, ToolsTechWantToWorkWith, ToolsTechAdmired, NEWCollabToolsHaveWorkedWith, NEWCollabToolsWantToWorkWith, NEWCollabToolsAdmired, OpSysPersonal use, OpSysProfessional use, OfficeStackAsyncHaveWorkedWith, OfficeStackAsyncWantToWorkWith, OfficeStackAsyncAdmired, OfficeStackSyncHaveWorkedWith, OfficeStackSyncWantToWorkWith, OfficeStackSyncAdmired, AISearchDevHaveWorkedWith, AISearchDevWantToWorkWith, AISearchDevAdmired, NEWSOSites, SOVisitFreq, SOAccount, SOPartFreq, SOHow, SOComm, AISelect, AISent, AIBen, AIAcc, AIComplex, AIToolCurrently Using, AIToolInterested in Using, AIToolNot interested in Using, AINextMuch more integrated, AINextNo change, AINextMore integrated, AINextLess integrated, AINextMuch less integrated, AIThreat, AIEthics, AIChallenges, TBranch, ICorPM, WorkExp, Knowledge_1, Knowledge_2, Knowledge_3, Knowledge_4, Knowledge_5, Knowledge_6, Knowledge_7, Knowledge_8, Knowledge_9, Frequency_1, Frequency_2, Frequency_3, TimeSearching, TimeAnswering, Frustration, ProfessionalTech, ProfessionalCloud, ProfessionalQuestion, ...]
Index: []

[0 rows x 114 columns]

<h5>3.2 Standardize entries in columns like Country or EdLevel by mapping inconsistent values to a consistent format.</h5>

In [9]:
# Define a mapping for the 'EdLevel' column
edlevel_mapping = {
    'Bachelor’S Degree (B.A., B.S., B.Eng., Etc.)': "Bachelor's Degree",
    'Master’S Degree (M.A., M.S., M.Eng., Mba, Etc.)': "Master's Degree",
    'Associate Degree (A.A., A.S., Etc.)': "Associate Degree",
    'Some College/University Study Without Earning A Degree': 'College/University Without A Degree',
    'Professional Degree (Jd, Md, Ph.D, Ed.D, Etc.)': "Professional Degree",
    'Secondary School (E.G. American High School, German Realschule Or Gymnasium, Etc.)': "Secondary School",
    'Primary/Elementary School': "Primary School",
    'Something Else': None,
    'nan': None
}

# Standardize the 'EdLevel' column
df['EdLevel'] = df['EdLevel'].str.strip().str.title()  # Normalize case and remove extra spaces
df['EdLevel'] = df['EdLevel'].replace(edlevel_mapping)

# Display standardized values
print("Standardized 'EdLevel' column:")
print(df['EdLevel'].unique())

Standardized 'EdLevel' column:
['Primary School' "Bachelor's Degree" "Master's Degree"
 'College/University Without A Degree' 'Secondary School'
 'Professional Degree' 'Associate Degree' None nan]

### 4. Encoding Categorical Variables

<h5>4.1 Encode the EdLevel column using one-hot encoding.</h5>

In [10]:
# One-hot encode the 'Employment' column
EdLevel_encoded = pd.get_dummies(df['EdLevel'], prefix='EdLevel')

# Add the encoded columns to the original DataFrame
df = pd.concat([df, EdLevel_encoded], axis=1)
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,SurveyEase,ConvertedCompYearly,JobSat,EdLevel_Associate Degree,EdLevel_Bachelor's Degree,EdLevel_College/University Without A Degree,EdLevel_Master's Degree,EdLevel_Primary School,EdLevel_Professional Degree,EdLevel_Secondary School
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary School,Books / Physical media,NaN,...,NaN,NaN,NaN,False,False,False,False,True,False,False
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Bachelor's Degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,NaN,NaN,False,True,False,False,False,False,False
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Master's Degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,Easy,NaN,NaN,False,False,False,True,False,False,False
3,4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,College/University Without A Degree,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,Easy,NaN,NaN,False,False,True,False,False,False,False
4,5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,Secondary School,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,Easy,NaN,NaN,False,False,False,False,False,False,True

### 5. Handling Missing Values

<h5>5.1 Identify columns with the highest number of missing values.</h5>

In [11]:
# Count the number of missing values in each column
missing_values = df.isnull().sum()

# Sort the columns by the number of missing values in descending order
sorted_missing = missing_values.sort_values(ascending=False)

# Display the columns with the highest number of missing values
print("Columns with the highest number of missing values:")
print(sorted_missing)

Columns with the highest number of missing values:
AINextMuch less integrated                     64289
AINextLess integrated                          63082
AINextNo change                                52939
AINextMuch more integrated                     51999
EmbeddedAdmired                                48704
                                               ...
EdLevel_College/University Without A Degree        0
EdLevel_Master's Degree                            0
EdLevel_Primary School                             0
EdLevel_Professional Degree                        0
EdLevel_Secondary School                           0
Length: 121, dtype: int64

<h5>5.2 Impute missing values in numerical columns (e.g., `ConvertedCompYearly`) with the mean or median.</h5>

In [13]:
# Using the mean for imputation
df['ConvertedCompYearly'] = df['ConvertedCompYearly'].fillna(df['ConvertedCompYearly'].mean())

# Verify that there are no more missing values in the column
print("Missing values after imputation:")
print(df['ConvertedCompYearly'].isnull().sum())

Missing values after imputation:
0

<h5>5.3 Impute missing values in categorical columns (e.g., `RemoteWork`) with the most frequent value.</h5>

In [14]:
# Find the most frequent value (mode)
most_frequent_value = df['RemoteWork'].mode()[0]

# Fill missing values with the most frequent value
df['RemoteWork'] = df['RemoteWork'].fillna(most_frequent_value)

# Verify that there are no more missing values in the column
print("Missing values after imputation in 'RemoteWork':")
print(df['RemoteWork'].isnull().sum())

Missing values after imputation in 'RemoteWork':
0

### 6. Feature Scaling and Transformation

<h5>6.1 Apply Min-Max Scaling to normalize the `ConvertedCompYearly` column.</h5>

In [15]:
from sklearn.preprocessing import MinMaxScaler

# Initialize Min-Max Scaler
scaler = MinMaxScaler()

# Reshape the data for scaling
df['ConvertedCompYearly_Scaled'] = scaler.fit_transform(df[['ConvertedCompYearly']])

<h5>6.2 Log-transform the ConvertedCompYearly column to reduce skewness.</h5>

In [18]:
# Apply log transformation
df['ConvertedCompYearly_Log'] = np.log(df['ConvertedCompYearly'])

In [19]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,JobSat,EdLevel_Associate Degree,EdLevel_Bachelor's Degree,EdLevel_College/University Without A Degree,EdLevel_Master's Degree,EdLevel_Primary School,EdLevel_Professional Degree,EdLevel_Secondary School,ConvertedCompYearly_Scaled,ConvertedCompYearly_Log
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary School,Books / Physical media,NaN,...,NaN,False,False,False,False,True,False,False,0.0053,11.363907
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Bachelor's Degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,False,True,False,False,False,False,False,0.0053,11.363907
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Master's Degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,NaN,False,False,False,True,False,False,False,0.0053,11.363907
3,4,I am learning to code,18-24 years old,"Student, full-time","Hybrid (some remote, some in-person)",Apples,NaN,College/University Without A Degree,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,NaN,False,False,True,False,False,False,False,0.0053,11.363907
4,5,I am a developer by profession,18-24 years old,"Student, full-time","Hybrid (some remote, some in-person)",Apples,NaN,Secondary School,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,NaN,False,False,False,False,False,False,True,0.0053,11.363907

### 7. Feature Engineering

<h5>7.1 Create a new column `ExperienceLevel` based on the `YearsCodePro` column:</h5>

In [20]:
print(df['YearsCodePro'].unique())

[nan '17' '27' '7' '11' '25' '12' '10' '3' 'Less than 1 year' '18' '37'
 '15' '20' '6' '2' '16' '8' '14' '4' '45' '1' '24' '29' '5' '30' '26' '9'
 '33' '13' '35' '23' '22' '31' '19' '21' '28' '34' '32' '40' '50' '39'
 '44' '42' '41' '36' '38' 'More than 50 years' '43' '47' '48' '46' '49']

In [26]:
# Define a mapping for the 'EdLevel' column
YearsCodePro_mapping = {
    'Less than 1 year': 0,
    'More than 50 years': 51
}

# Standardize the 'EdLevel' column
df['EdLYearsCodeProevel'] = df['YearsCodePro'].str.strip().str.title()  # Normalize case and remove extra spaces
df['YearsCodePro'] = df['YearsCodePro'].replace(YearsCodePro_mapping)

# Display standardized values
print("Standardized 'YearsCodePro' column:")
print(df['YearsCodePro'].unique())

Standardized 'YearsCodePro' column:
[nan '17' '27' '7' '11' '25' '12' '10' '3' 0 '18' '37' '15' '20' '6' '2'
 '16' '8' '14' '4' '45' '1' '24' '29' '5' '30' '26' '9' '33' '13' '35'
 '23' '22' '31' '19' '21' '28' '34' '32' '40' '50' '39' '44' '42' '41'
 '36' '38' 51 '43' '47' '48' '46' '49']

In [27]:
# Преобразование в числовой тип, с обработкой NaN
df['YearsCodePro'] = pd.to_numeric(df['YearsCodePro'], errors='coerce')

In [28]:
# Вычисление медианы (игнорируя NaN)
median_value = df['YearsCodePro'].median()

# Замена NaN на медиану
df['YearsCodePro'].fillna(median_value, inplace=True)

C:\Users\anastasiia.trofymova\AppData\Local\Temp\ipykernel_30356\2646306402.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['YearsCodePro'].fillna(median_value, inplace=True)

In [29]:
# Define bins and labels for experience levels
bins = [-1, 0, 2, 5, 10, float('inf')]  # Define bins for experience ranges
labels = ['Beginner', 'Novice', 'Intermediate', 'Advanced', 'Expert']  # Corresponding labels

# Create the ExperienceLevel column
df['ExperienceLevel'] = pd.cut(df['YearsCodePro'], bins=bins, labels=labels)

In [30]:
df.head()

,ResponseId,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,EdLevel_Bachelor's Degree,EdLevel_College/University Without A Degree,EdLevel_Master's Degree,EdLevel_Primary School,EdLevel_Professional Degree,EdLevel_Secondary School,ConvertedCompYearly_Scaled,ConvertedCompYearly_Log,EdLYearsCodeProevel,ExperienceLevel
0,1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary School,Books / Physical media,NaN,...,False,False,False,True,False,False,0.0053,11.363907,NaN,Advanced
1,2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Bachelor's Degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,True,False,False,False,False,False,0.0053,11.363907,17,Expert
2,3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,Master's Degree,Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,...,False,False,True,False,False,False,0.0053,11.363907,27,Expert
3,4,I am learning to code,18-24 years old,"Student, full-time","Hybrid (some remote, some in-person)",Apples,NaN,College/University Without A Degree,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,...,False,True,False,False,False,False,0.0053,11.363907,NaN,Advanced
4,5,I am a developer by profession,18-24 years old,"Student, full-time","Hybrid (some remote, some in-person)",Apples,NaN,Secondary School,"Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,...,False,False,False,False,False,True,0.0053,11.363907,NaN,Advanced

### Summary

In this lab, you:

- Explored the dataset to identify inconsistencies and missing values.

- Encoded categorical variables for analysis.

- Handled missing values using imputation techniques.

- Normalized and transformed numerical data to prepare it for analysis.

- Engineered a new feature to enhance data interpretation.

Copyright © IBM Corporation. All rights reserved.