# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. SciPy
4. MatplotLib
5. Seaborn

|Data Science Tools|
|------------------|
|Jupyter Lab       |
|R Studio          |
|Spyder            |
|Anaconda          |

***
### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [11]:
minutes = 200
hours = minutes / 60
# This will convert 200 minutes to hours by diving by 60
hours

3.3333333333333335

**Objectives:**
* Create jupyter notebook
* Add code and markdown cells
* Add comment to code cells
* Create markdown cells with lists
* Create markdown cell with table

## Author
Trofymova Anastasiia